#header img {
    background-color: rgba(0,0,0,0.6); 
}

.logo h1 {
    color:white;
    font-family: 'Kaushan Script', cursive;
    justify-content: center;
    margin: 0;
    margin-top: 20px;
    text-align: center;
    font-size: 100px;
    background-color: rgba(0,0,0,0.6);

}

.conatiner {
    max-width: 800px;
    margin: 0 auto; 
    padding: 20px; 
    background-color: rgba(0,0,0,0.6);

}

.container .content {
    color: white; 
    font-family: 'Ephesis', cursive;
    font-size: 50px;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
    
}



.container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(0,0,0,0.6);
}

.container li {
    display: inline; 
    margin: 0 10px; 
}

.container a {
    text-decoration: none;
    color: white;
    font-family: 'Merienda', cursive;
    font-size: 30px;
}

.container a:hover {
    color: grey; 
}



   .header_container {
    display: flex;
    justify-content: center;
    width: 100%; 
    margin: 40px 0px; 
   }

   .header_container img {
    width: 33.33%;
    height: 50%; 
    transform: scale(0.7);
   }

   .header_container img:nth-child(2) {
    transform: scale(1.0);
   }

   .introduce h1 {
    font-family: 'Kaushan Script', cursive;
    text-align: center; 
    font-weight: bold; 

   }

   .introduce {
    font-family: 'Merienda', cursive;
    line-height: 2.0;
    padding: 90px;
   }

   .introduce p {
    text-align: center; 
   }

   .underline {
    text-decoration: underline;
    text-decoration-color: #403E3C ;
    text-decoration-thickness: 0.4rem;
    color: #8C786C; 
    font-weight: bold; }

    .group-portrait img {
        display: block;
        margin: auto; 
    }

    footer nav {
        display: flex;
        justify-content: space-between; 
        padding: 20px; 
    }

    footer nav ul {
        display: flex;
        list-style-type: none;
        padding: 0; 
    }

    footer nav li a {
        text-decoration: none; 
        color: black; 
        padding: 40px 10px; 
        font-size: 20px; 
    }

    .logo img {
        width: 150px; 
    }