.header-logo img {
    width: 200px;
padding: 20px;}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}


.conatiner {
    max-width: 800px;
    margin: 0 auto; 
    padding: 20px; 

}


.container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.container li {
    display: inline; 
    margin: 0 10px; 
}

.container a {
    text-decoration: none;
    color: black;
    font-family: 'DM Serif Display', serif;
    font-size: 30px;
    margin-top: 20px;
}

.container a:hover {
    color: grey; 
}



.header_container {
    display: flex;
    justify-content: center;
    width: 100%; 
    margin: 40px 0px; 
    align-items: center;
    position: relative;
   }

.header_container img {
    width: 33.33%;
    height: 50%; 
    transform: scale(0.7);
    z-index: -1;
    object-fit: cover;
   }

.header_container img:nth-child(2) {
    transform: scale(1.0);
    z-index: -1;
   }


.header_container .logo {
    position: absolute;
    z-index: 1;
    color:white;
    font-family: 'Ephesis', cursive;
    font-size: 20px;
    margin-top: -700px;
    background-color: rgba(0,0,0,0.6);
}

.content {
    font-family: 'Ephesis', cursive;
    font-size: 90px;
    text-align: center;

}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container a, .flex-container p {
    display: inline;
}


.content .our-services  {
    font-size: 30px;
    color: black;
    text-decoration: none;
    
}

.content .contact-us  {
    font-size: 30px;
    color: black; 
    text-decoration: none;

}

.flex-container p {
    font-size: 30px; 
}

.content a p {
    text-align: center;
}

   .introduce h1 {
    font-family: 'DM Serif Display', serif;
    text-align: center; 
    font-weight: bold; 

   }

   .introduce {
    font-family: 'Merienda', cursive;
    line-height: 2.0;
    padding: 90px;
   }

   .introduce p {
    text-align: center; 
   }

   .underline {
    text-decoration: underline;
    text-decoration-color: #403E3C ;
    text-decoration-thickness: 0.4rem;
    color: #8C786C; 
    font-weight: bold; }

    .group-portrait img {
        display: block;
        margin: auto; 
    }

    .about-us , .our-gallery  {
        text-decoration: none;
        color: black
    }

    .name {
        color: #8C786C; 
    }

 footer {
    background-color:#8C786C;
    color: #fff;
    padding: 30px 0px;
 }

 .footer-logo {
    max-width: 150px;
    margin-bottom: 20px;
    margin-left: 40px;
 }

 .footer-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px; 
    margin-left: auto;
    margin-right: auto;
 }

 .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
 }

 .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
 }

 .col-md-3 ul {
    list-style-type: none;
    padding: 0;
 }

 .col-md-3 li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px; 
    line-height: 30px; 
    font-family: 'Merienda', cursive;

 }

 .col-md-3 h5 {
    margin-bottom: 20px; 
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
 }

 .col-md-3 p {
    color: #fff;
    text-decoration: none;
    font-size: 16px; 
    line-height: 30px; 
    font-family: 'Merienda', cursive;

 }